:root {
    --main--color: #ff9800;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}


/* Start Setting Box  */

.setting-box {
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #f2f2f2;
    width: 200px;
    min-height: 100vh;
    z-index: 100;
    transition: .3s;
}

.setting-box.open {
    left: 0;
}

.setting-box .setting-toggle {
    position: absolute;
    top: 100px;
    right: -30px;
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
}

.setting-box .setting-toggle .fa-gear {
    width: 30px;
    padding: 8px 0;
}

.setting-box .setting-container .option-box {
    padding: 10px;
    text-align: center;
    background-color: #3333332b;
    margin: 10px;
}

.setting-box .setting-container .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.setting-box .setting-container .option-box .list-colors {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}

.setting-box .setting-container .option-box .list-colors li {
    width: 22px;
    height: 22px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid transparent;
}

.setting-box .setting-container .option-box .list-colors li.active {
    border-color: #f2f2f2;
}

.setting-box .setting-container .option-box .list-colors li:nth-child(2) {
    background-color: #ff9800;
}

.setting-box .setting-container .option-box .list-colors li:nth-child(3) {
    background-color: #009388;
}

.setting-box .setting-container .option-box .list-colors li:nth-child(4) {
    background-color: #e91e73;
}

.setting-box .setting-container .option-box .list-colors li:last-child {
    background-color: #4caf4c;
}

.setting-box .option-box .yes,
.setting-box .option-box .no {
    width: 50px;
    background-color: var(--main--color);
    color: #f2f2f2;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}

.setting-box .option-box span.active {
    opacity: 1;
}


/* End Setting Box  */


/* Start Nav Bullets */

.nav-bullets {
    position: fixed;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 40px;
    z-index: 10005;
}

.nav-bullets .bullets {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px auto;
    border: 3px solid var(--main--color);
    cursor: pointer;
    position: relative;
}

.nav-bullets .bullets .tooltip {
    background-color: var(--main--color);
    position: absolute;
    right: 32px;
    top: -10px;
    color: #f2f2f2;
    width: 120px;
    padding: 8px 10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}

.nav-bullets .bullets:hover .tooltip {
    display: block;
    transition: all .5s;
}

.nav-bullets .bullets .tooltip::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main--color);
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 0;
    height: 0;
}


/* End Nav Bullets */


/* Start Landing Page  */

.landing-page {
    min-height: 100vh;
    background-image: url('../images/1633121208142.jpeg');
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

.landing-page .container {
    position: relative;
    z-index: 1000;
}

.header-area {
    position: relative;
    z-index: 2;
    color: #f2f2f2;
    display: flex;
    padding: 10px;
}

.header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
}

.header-area .links-container {
    width: 100%;
    text-align: right;
}

.header-area .links {
    list-style-type: none;
    padding-left: 0;
}

.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}

.header-area .links li a {
    text-decoration: none;
    color: #f2f2f2;
    transition: all.5s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main--color);
}

.header-area .menu-toggle {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}

.header-area .menu-toggle.menu-active::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    left: 10px;
    bottom: -15px;
}

.header-area .menu-toggle:focus {
    outline: none;
}

.header-area .menu-toggle span {
    display: block;
    background-color: #f2f2f2;
    height: 4px;
    margin-bottom: 5px;
}

.landing-page .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f2f2f2;
    z-index: 2;
    width: 95%;
    text-align: center;
}

.intro-text h1 {
    font-size: 35px;
    margin: 0 0 13px;
}

.intro-text h1 span {
    color: var(--main--color);
}

.intro-text p {
    line-height: 1.5;
    font-size: 20px;
    margin: 0 50px;
}


/* End Landing Page  */


/* Start About-us */

.about-us {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.about-us .info-box {
    flex: 1;
    padding: 30px;
}

.about-us .info-box h2 {
    color: var(--main--color);
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px;
}

.about-us .info-box p {
    line-height: 1.8;
    color: #777;
    margin: 0;
}

.about-us .image-box {
    flex: 1;
    text-align: center;
}

.about-us .image-box img {
    width: 250px;
}


/* End About-us */


/* Start Our Skills */

.our-skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}

.our-skills h2 {
    color: var(--main--color);
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px;
    text-align: center;
}

.our-skills .skill-box {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
}

.our-skills .skill-box .skill-name {
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    width: 140px;
}

.our-skills .skill-box .skill-progress {
    background-color: #f6f6f6;
    width: 100%;
    height: 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.our-skills .skill-box .skill-progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main--color);
    transition: all .5s;
}


/* End Our Skills */


/* Start Gallery */

.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.gallery h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px;
    text-align: center;
    color: var(--main--color);
}

.gallery .imgs-box {
    text-align: center;
}

.gallery .imgs-box img {
    width: 200px;
    padding: 3px;
    margin: 5px;
    background-color: #f6f6f6;
    border: 3px solid #DDD;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f6f6;
    border: 3px solid #ccc;
    padding: 20px;
    z-index: 10001;
}

.popup-box img {
    max-width: 100%;
}

.close-button {
    width: 40px;
    height: 40px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -15px;
    line-height: 40px;
    color: #f6f6f6;
    background-color: var(--main--color);
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
}


/* End Gallery */


/* Start TimeLine */

.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #DDD;
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    top: 0;
}

.timeline .timeline-content .year {
    text-align: center;
    padding: 2px 5px;
    margin: 20px auto;
    position: relative;
    width: 50px;
    z-index: 2;
    background-color: var(--main--color);
    font-weight: bold;
    color: #f2f2f2;
    border-radius: 4px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    position: relative;
    margin-bottom: 40px;
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .left::before {
    content: '';
    position: absolute;
    right: -35px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 3px solid var(--main--color);
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .right::before {
    content: '';
    position: absolute;
    left: -35px;
    top: 10px;
    width: 14px;
    height: 14px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 3px solid var(--main--color);
}

.clear-fix {
    clear: both;
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: #fff;
}

.timeline .timeline-content .left .content:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #f2f2f2;
    top: 14px;
    right: -20px;
    width: 0;
    height: 0;
}

.timeline .timeline-content .right .content:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #f2f2f2 transparent transparent;
    top: 14px;
    left: -20px;
    width: 0;
    height: 0;
}

.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 10px;
}

.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.5;
}


/* End TimeLine */


/* Start Features */

.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.features h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px;
    text-align: center;
    color: var(--main--color);
}

.features .feat-box {
    width: Calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 30px;
}

.features .feat-box h4 {
    font-size: 20px;
    margin: 15px 0 40px;
    position: relative;
}

.features .feat-box h4::before {
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}

.features .feat-box p {
    color: #666;
    line-height: 1.6;
    margin: 0 auto;
}


/* End Features */


/* Start Testmonial */

.testmonial {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.testmonial::before {
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main--color);
}

.testmonial::after {
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #333;
}

.testmonial h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px;
    text-align: left;
    color: #f2f2f2;
    position: relative;
    z-index: 2;
}

.testmonial .ts-box {
    position: relative;
    z-index: 2;
    width: 30%;
    float: left;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 22px;
}

.testmonial .ts-box:not(:last-of-type) {
    margin-right: 1%;
}

.testmonial .ts-box>p {
    color: #707070;
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
}

.testmonial .ts-box .person-info {
    overflow: hidden;
}

.testmonial .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
}

.testmonial .ts-box .person-info h4 {
    margin: 10px 0 10px;
}

.testmonial .ts-box .person-info p {
    color: #707070;
    margin: 0;
    font-size: 18px;
}


/* End Testmonial */


/* Start Contact-Us */

.contact-us {
    min-height: 600px;
    background-image: url('../images/055.jpg');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.contact-us .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.contact-us .container {
    position: relative;
    z-index: 2;
}

.contact-us h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px;
    text-align: center;
    color: var(--main--color);
    position: relative;
    z-index: 2;
}

.contact-us form {
    overflow: hidden;
}

.contact-us form .left {
    float: left;
    width: 49%;
}

.contact-us form .right {
    float: right;
    width: 49%;
}

.contact-us form input:not([type="submit"]),
.contact-us form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus {
    outline: 2px solid var(--main--color);
}

.contact-us form input {
    height: 40px;
}

.contact-us form textarea {
    height: 140px;
}

.contact-us form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: #f2f2f2;
    cursor: pointer;
}

.contact-us form input:not([type="submit"]):focus::placeholder,
.contact-us form textarea:focus::placeholder {
    opacity: 0;
    transition: .3s;
}


/* End Contact-Us */


/* Start Footer */

.footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


/* End Footer */